{% extends "base.html" %}

{% block main %}
    <div class='head' >
        <h2>Register</h2>
        <p>Fill in this form to register for your own profile</p>
    </div>    
    <form id="form" method="POST" enctype="multipart/form-data" action="{{ url_for('addprofile') }}">
        {{ form.csrf_token }}
        <div class="label">
            {{ form.username.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.username.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.username(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.password.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.password.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.password(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.firstname.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.firstname.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.firstname(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.lastname.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.lastname.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.lastname(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.email.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.email.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.email(class="form-control", placeholder="jdoe@example.com") }}
        </div>
        <div class="label">
            {{ form.location.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.location.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.location(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.biography.label }}<font color=#BA2C48>(Required)</font></br>
            
            {% for message in form.biography.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.biography(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.photo.label }}<font color=#BA2C48>(Required)</font></br>
            <label for="photo" type="file" class="photobtn">Browse...</label>
            {% for message in form.photo.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.photo }}
        </div>
        
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}